@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  padding: 40px;
  background-color: #010101;
  letter-spacing: 1px;
}

/* navbar */
.navbar .main-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  color: #fff;
}

.navbar .sub-title {
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

/* main-container */
.main-container {
  text-align: center;
  background-color: #fff;
}

.main-container .gif {
  text-align: center;
  width: 100%;
}
/* welcome text */
.main-container .welcome-text {
  margin-top: 30px;
  font-size: 20px;
  color: #000;
  line-height: 2;
}

.email-link {
  color: rgb(232, 126, 144);
}

.email-link:hover {
  color: black;
  cursor: pointer;
  font-size: 21px;
}

/* hr */
hr {
  /* margin-top: 40px; */
  height: 80px;
  background-color: #000;
  width: 100%;
  outline: #000;
  border: 0;
  margin-top: 0;
}

/* project */

.project h2 {
  font-size: 30px;
  margin-top: 40px;
}

.project h3 {
  font-size: 15px;
}

.client-info,
span {
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
}

.case-study-video {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  background-color: black;
}

.case-study-video video {
  height: 80%;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  background-color: white;
}

.case-study-video-credits {
  color: gray;
  font-size: 10px;
  padding-bottom: 10px;
}

.boards img {
  width: 100%;
  vertical-align: middle;
}

/* about */

.about-section{
  vertical-align: center;
  text-align: left;
}

.about-header {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}

.wrapper {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
/* padding: 10px 70px; */

}

.work-experience li {
  list-style: none;
  line-height: 30px;
}

#experience {
  font-size: 20px;
}

#languages {
  font-size: 20px;
  margin-top: 80px;
}

.profile-picture {
  border-radius: 50%;
  max-width: 350px;
}

/* bottom half */

#awards {
  font-size: 20px;
}

#clients {
  font-size: 20px;
}

 .awardz span {
  color: rgb(232, 126, 144);
  font-size: 16px;;
}

/* social media links */

.social-media-buttons {
  margin-top: 100px;
  font-size: 20px;
}
