@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Kosugi Maru", sans-serif;
  height: 100vh;
  padding: 40px;
  background-color: #ffe500;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.main-title {
  margin-top: 0%;
}

.main-container {
  text-align: center;
  background-color: #fff;
  padding-top: 300px;
}

.main-container .welcome-text {
  font-size: 20px;
}
